

<div id="3div"
	class="desdiv maindiv col-xs-12">

	<div id="conti3"
		class="conti col-xs-12">
		<h1 class="deshead">Graphic Design</h1>
		<h2 class="dessub">A Hobby. Check out the whole collection!</h2>

		<div class="col-xs-12 img-header">
			<img src="assets/resources/transimg.webp" class="img-responsive">
		</div>

		<div class="col-xs-12 col-sm-10 col-sm-push-1 col-md-6 col-md-push-3 no-padding mobile-img">
			<div class="col-xs-12 col-sm-4 col-sm-push-4 col-md-6 col-md-push-3" (mousedown)="prevent($event)" (contextmenu)="prevent($event)">
				<img class="img-responsive" src="assets/resources/desw.png">
			</div>
		</div>

		<div class="col-xs-10 col-xs-push-1 col-sm-8 col-sm-push-2">
			<a target="_blank"
				href="https://www.behance.net/Ashdwi2099">
				<button class="butt">Go To Behance Profile</button>
			</a>
			<br>
		</div>

	</div>
</div>