<div id="4div" class="abtdiv maindiv col-xs-12">
<h1 class="abthead">About Ashutosh Dwivedi</h1>
		<div class="col-xs-push-2 col-xs-8 col-sm-3 col-sm-push-0 col-md-4 col-md-push-0 col-xl-3">
			<img class="img-responsive" src="assets/resources/me.png">
		</div>

		<div class="col-xs-12 col-sm-9 col-md-8 col-xl-9 no-padding">
			<p class="qt">You'll never witness the taste of true freedom unless you bury those silhouettes of your own overthinking<br><span style="float:right;">-Dwivedi</span></p>
			<br>
			<p class="desc">There was a time in the second year of college when they asked us to make our own web projects using any open source technologies we want. That was the time that intrigued me towards Web Development. Since then, life has never been the same.</p>

		<div class="col-xs-12 col-sm-4 col-md-4 infodiv">
			<h3 class="infohead">Contact:</h3>
			<p><i class="fas fa-envelope"></i>&nbsp;&nbsp;ashudot2099@gmail.com</p>
			<p><i class="fas fa-mobile-alt"></i>&nbsp;&nbsp;8692966188</p>

			<a target="_blank" href="" style="text-decoration:none;">
				<button class="socbox resbox">
					<i class="fas fa-file-download"></i>&nbsp;&nbsp;Resume
					</button>
			</a><br>

			<a target="_blank" href="https://in.linkedin.com/in/ashutosh-dwivedi-b8570b127"><button class="socbox socboxln"><span><img class="img-responsive socpic" src="assets/resources/ln.png">Linkedin</span></button></a>
			<a target="_blank" href="https://www.behance.net/Ashdwi2099"><button class="socbox socboxbe"><span><img class="img-responsive socpic" src="assets/resources/be.png">Behance</span></button></a>
			<a target="_blank" href="https://www.facebook.com/ashutosh.dwivedi.18"><button class="socbox socboxfb"><span><img class="img-responsive socpic" src="assets/resources/fb.png">Facebook</span></button></a>
			<a target="_blank" href="https://github.com/ashu2099/"><button class="socbox socboxgh"><span><img class="img-responsive socpic" src="assets/resources/gh.png">GitHub</span></button></a>
			<a target="_blank" href="https://www.instagram.com/ashu_2099/?hl=en"><button class="socbox socboxin"><span><img class="img-responsive socpic" src="assets/resources/in.png">Instagram</span></button></a>
			
		</div>

		<div class="col-xs-12 col-sm-4 col-md-4 infodiv">
			<h3 class="infohead">Known Technologies</h3>
				<div class="skillbar">
				    <p>C</p>
				    <i class="bar filled"></i>
				    <i class="bar filled"></i>
				    <i class="bar filled"></i>
				    <i class="bar"></i>
				    <i class="bar"></i>
				</div>
				<div class="skillbar">
				    <p>Java</p>
				    <i class="bar filled"></i>
				    <i class="bar filled"></i>
				    <i class="bar filled"></i>
				    <i class="bar"></i>
				    <i class="bar"></i>
				</div>
				<div class="skillbar">
				    <p>Angular</p>
				    <i class="bar filled"></i>
				    <i class="bar filled"></i>
				    <i class="bar filled"></i>
				    <i class="bar"></i>
				    <i class="bar"></i>
				</div>
				<div class="skillbar">
				    <p>JavaScript</p>
				    <i class="bar filled"></i>
				    <i class="bar filled"></i>
				    <i class="bar filled"></i>
				    <i class="bar"></i>
				    <i class="bar"></i>
				</div>
				<div class="skillbar">
				    <p>Jquery</p>
				    <i class="bar filled"></i>
				    <i class="bar filled"></i>
				    <i class="bar"></i>
				    <i class="bar"></i>
				    <i class="bar"></i>
				</div>
				<div class="skillbar">
				    <p>HTML5</p>
				    <i class="bar filled"></i>
				    <i class="bar filled"></i>
				    <i class="bar filled"></i>
				    <i class="bar filled"></i>
				    <i class="bar"></i>
				</div>
				<div class="skillbar">
				    <p>CSS3</p>
				    <i class="bar filled"></i>
				    <i class="bar filled"></i>
				    <i class="bar filled"></i>
				    <i class="bar filled"></i>
				    <i class="bar"></i>
				</div>
				<div class="skillbar">
				    <p>Bootstrap3</p>
				    <i class="bar filled"></i>
				    <i class="bar filled"></i>
				    <i class="bar filled"></i>
				    <i class="bar filled"></i>
				    <i class="bar"></i>
				</div>
				<div class="skillbar">
				    <p>PHP</p>
				    <i class="bar filled"></i>
				    <i class="bar filled"></i>
				    <i class="bar hfilled"></i>
				    <i class="bar"></i>
				    <i class="bar"></i>
				</div>
				<div class="skillbar">
				    <p>MySQL</p>
				    <i class="bar filled"></i>
				    <i class="bar filled"></i>
				    <i class="bar hfilled"></i>
				    <i class="bar"></i>
				    <i class="bar"></i>
				</div>
		</div>
</div>
</div>
