<div id="dot-nav">
    	<ul>
	      <li id="dot1" (click)=scroll($event,1) class="awesome-tooltip active">
	      	<span class="tooltiptext">Top</span>
	      	<a href="#1"></a>
	      </li>
	      <li id="dot2" (click)=scroll($event,2) class="awesome-tooltip">
	      	<span class="tooltiptext">Projects</span>
	      	<a href="#2"></a>
	      </li>
	      <li id="dot3" (click)=scroll($event,3) class="awesome-tooltip">
	      	<span class="tooltiptext">Designs</span>
	      	<a href="#3"></a>
	      </li>
	      <li id="dot4" (click)=scroll($event,4) class="awesome-tooltip">
	      	<span class="tooltiptext">About</span>
	      	<a href="#4"></a>
	      </li>
	    </ul>
</div>
